:root {
    /* var for ball */
    --bg-body: #011212;
    --h-w_ball: 100px;
    --bg_ball: #ff8800;
}

/* 
body {
    background-color: #011212;
}


.ball {
    width: 100px;
    height: 100px;
    background-color: #ff8800;
    border-radius: 50px;
}

*/


body {
    background-color: var(--bg-body)
}

.ball {
    width: var(--h-w_ball);
    height: var(--h-w_ball);
    background-color: var(--bg_ball);
    border-radius: calc( var(--h-w_ball) - 50px );
}

